<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="utf-8">
  <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Van"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="//icss.bcaring.cn/static/css/main.css"/>
</head>
<body class="i-<%= htmlWebpackPlugin.options.moduleClass %>-<%= htmlWebpackPlugin.options.enterClass %>">
<router-view></router-view>
<!-- built files will be auto injected -->
</body>
</html>
